.App {
  text-align: center;
}

.containerbox {
  background-image: url("testikuva.jpg");
}
.App-header {
  background-color: #282c34;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 0;
  position: relative;
}

.App-test {
  background-image: url("testikuva.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  filter: blur(20px);
}
.test {
  z-index: 11;
}
.App-link {
  color: #61dafb;
}
